<!DOCTYPE html>
{% extends 'base/chatroom_base.html' %}
{% load static %}

<!-- Title -->
{% block title %} {{ title }} | iBAS++ {% endblock %}

<!-- Custom CSS -->
{% block css %}
<!-- Fontawesome CDN -->
{% comment %} <script src="https://kit.fontawesome.com/272e010829.js" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://kit.fontawesome.com/5172ff6b21.js" crossorigin="anonymous"></script>
<!-- Skeleton Loading CSS -->
<link rel="stylesheet" href="{% static 'css/home/customerSupport/skeletonLoading.css' %}">
<!-- Miscellaneous CSS -->
<link rel="stylesheet" href="{% static 'css/home/customerSupport/miscellaneous.css' %}">
<!-- CSO User Detail CSS -->
<link rel="stylesheet" href="{% static 'css/home/customerSupport/csoUserDetail.css' %}">
<!-- Ticket Issue Detail CSS -->
<link rel="stylesheet" href="{% static 'css/home/customerSupport/ticketIssueDetail.css' %}">
{% endblock %}

<!-- Content Body -->
{% block content %}


{% comment %}
<h1>Customer Support Page - (Real-time Chat)</h1>
<p>Room Slug: {{ room_slug }}</p>
{% if request.user.username != '' %}
    <h4>CSO Username: {{ request.user.username }} </h4>
    {% if request.user.is_cso %}
        <div class="row">
            <div class="col">
                <p>
                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'staffApplication:CsoWorkload:CsoDashboard' %}">CSO
                        Dashboard</a>
                </p>
            </div>
            <div class="col text-end">
                {% if not conversationInfo.is_resolved %}
                <!-- <button class="btn btn-success btn-xl text-uppercase" id="is-resolved">Is resolved</button> -->
                <!-- Fill up the input field with the cso dashboard-url -->
                <!-- <input type="text" id="cso-dashboard-url" value='{% url "staffApplication:CsoWorkload:SupportDashboard" request.user.email  %}' readonly disabled hidden> -->
                <!-- <form action="{% url 'homeApplication:CustomerSupportRoom' room_slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-xl text-uppercase">Is resolved</button>
                </form> -->
                {% else %}
                <button class="btn btn-secondary btn-xl text-uppercase" readonly>resolved</button>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'homeApplication:LangingPage' %}">Quit</a>
        </p>
    {% endif %}
{% else %}
    <h4> Anonymous User </h4>
    <p>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'homeApplication:LangingPage' %}">Quit</a>
    </p>
{% endif %}
{% endcomment %}



<!-- New UI for chatbox -->
<div class="container-fluid my-4">
    <div class="row">
        <div class="col">
            <!-- User Info Row -->
            {% if request.user.is_cso %}
            <div class="row p-2 rounded shadow" style="background-color: #344767;">
            {% endif %}

            {% if request.user.is_user %}
            <div class="row p-3 rounded shadow" style="background-color: #ffffff;">
            {% endif %}
                <div class="row">

                    <!-- Profile Picture Row -->
                    <div class="col-5 d-flex align-items-center">
                        <!-- <ellipse cx="140" cy="125" rx="120" ry="120"
                        style="fill:yellow;stroke:purple;stroke-width:2" /> -->
                        {% if request.user.is_user %}
                            {% if cso_user_profile_pic %}
                                <img src="{{ cso_user_profile_pic.url }}" 
                                        id="user_profile_image"
                                        alt="Avatar"
                                        style="z-index: 1;
                                            width: 15rem;
                                            height: 15rem;"
                                        class="rounded mx-start">
                            {% else %}
                                <h1>No Profile Picture</h1>
                            {% endif %}
                        {% endif %}
                        {% if request.user.is_cso %}
                            <img src="{{ registered_user_profile_pic.url }}" 
                            id="cso_profile_image"
                            alt="Avatar"
                            style="z-index: 1;
                                width: 15rem;
                                height: 15rem;"
                                class="rounded mx-start"> 
                        {% endif %}
                    </div>

                    <!-- User/CSO Information -->
                    <div class="col">
                        <div class="row" style="margin-top: .5rem;">
                            <div class="col">
                                <!-- user-end -->
                                {% if request.user.is_user %}
                                <h3 class="text-start">Help Desk Officer</h3>
                                    <!-- TEMPORARY -->
                                    {% comment %}
                                    <small><b>User Chat end</b></small>
                                    <p>{{ request.user.email }}</p>
                                    {% endcomment %}
                                    {% endif %}
                                    <!-- CSO-end -->
                                {% if request.user.is_cso %}
                                    <h3 class="text-start text-white">User Information</h3>
                                    <!-- TEMPORARY -->
                                    {% comment %}
                                    <small><b>CSO Chat end</b></small>
                                    <p>{{ request.user.email }}</p>
                                    {% endcomment %}
                                {% endif %}
                            </div>
                        </div>
                            {% if request.user.is_user %}
                            <div class="row" style="margin-top: 1rem;">
                                <!-- Display CSO info, since it's user-end part -->
                                <div class="row my-2">
                                    <div class="col-3"><h5>Name: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ cso_user_fullname }}</span></h5></div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-3"><h5>Email: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ cso_user_email }}</span></h5></div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-3"><h5>Phone: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ cso_user_phone }}</span></h5></div>
                                </div>
                            {% endif %}
                            {% if request.user.is_cso %}
                                <!-- Display user info, since it's CSO-end part -->
			    <div class="row text-white" style="margin-top: 1rem;">
                                <div class="row my-2">
                                    <div class="col-3"><h5>Name: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ registered_user_fullname }}</span></h5></div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-3"><h5>Email: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ registered_user_email }}</span></h5></div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-3"><h5>Phone: </h5></div>
                                    <div class="col text-start"><h5><span class="user_cso_info">{{ registered_user_phone }}</span></h5></div>
                                </div>
                                {% if userName_bn != 'null' %}
                                    <div class="row my-2">
                                        <div class="col-3"><h5 style="font-weight: bold;">নাম:</h5></div>
                                        <div class="col text-start"><h5><span class="user_cso_info">{{ userName_bn }}</span></h5></div>
                                    </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>
    

                {% comment %}
                {% if request.user.is_user %}
                <!-- Display CSO information -->
                <div class="row" style="margin-top: 5rem;">
                    <div class="col">
                        {% if request.user.is_user %}
                            <div class="row"><h5>Name: {{ cso_user_fullname }}</h5></div>
                        {% endif %}
                        {% if request.user.is_cso %}
                            <div class="row"><h5>Name: {{ registered_user_fullname }}</h5></div>
                            {% if userName_bn != 'null' %}
                            <div class="row" style="margin-top: 1rem;"><h5>নাম: {{ userName_bn }}</h5></div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- <div class="col-3 position-relative">
                        <button class="btn btn-lg bg-secondary position-absolute bottom-0 end-0">View Detail</button>
                    </div> -->
                </div>
                {% endif %}
                {% if request.user.is_cso %}
                <!-- Display user information -->
                <div class="row" style="margin-top: 3rem;">
                    <div class="col">
                        {% if request.user.is_user %}
                            <div class="row"><h5>Name: {{ cso_user_fullname }}</h5></div>
                        {% endif %}
                        {% if request.user.is_cso %}
                            <div class="row"><h5>Name: {{ registered_user_fullname }}</h5></div>
                            {% if userName_bn != 'null' %}
                            <div class="row" style="margin-top: 1rem;"><h5 style="font-weight: bold;">নাম: {{ userName_bn }}</h5></div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- <div class="col-3 position-relative">
                        <button class="btn btn-lg bg-secondary position-absolute bottom-0 end-0">View Detail</button>
                    </div> -->
                </div>
                {% endif %}
                {% endcomment %}



            </div>

            <!-- Issue Detail -->
            <div class="row mt-4 p-2 rounded shadow" 
                {% if request.user.is_cso %}
                style="background-color: #344767; color: #ffffff;"
                {% endif %}
                style="background-color: #ffffff;"
            >
                <div class="row position-relative">
                    <div class="row text-center mt-3 mb-3 position-absolute" style="margin: 0 auto;">
                        <h3>Issue Detail</h3>
                        <div class="d-flex justify-content-center"><hr class="bg-dark border-2 border-top border-dark" style="width: 15rem;"></div>
                    </div>
                    {% if request.user.is_cso %}
                    <div class="row container-fluid" style="margin-top: 8rem; margin-bottom: .8rem;">
                    {% endif %}
                    {% if request.user.is_user %}
                    <div class="row container-fluid" style="margin-top: 6.5rem;">
                    {% endif %}
                        <div class="col grid-tms-issue-skeleton">
                            <div class="row my-2"><h5>Issue ID: <div class="skeleton skeleton-text"></div></h5></div>
                            <div class="row my-2"><h5>Issue: <div class="skeleton skeleton-text"></div></h5></div>
                            <div class="row my-2"><h5>Project: <div class="skeleton skeleton-text"></div></h5></div>
                            <div class="row my-2"><h5>Issuer Mobile Number: <div class="skeleton skeleton-text"></div></h5></div>
                            <div class="row my-2"><h5>Issue Status: <div class="skeleton skeleton-text"></div></h5></div>
                        </div>

                        <div class="col grid-tms-issue-data p-0 m-0" style="display: none">
                        {% if request.user.is_cso %}
                            <div class="row my-2">
                                <div class="col"><h5 class="ms-4">Issue ID: </h5></div>
                                <div class="col"><h5><span id="div_issue_id" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row my-2">
                                <div class="col"><h5 class="ms-4">Issue: </h5></div>
                                <div class="col"><h5><span id="div_issue" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row my-2">
                                <div class="col"><h5 class="ms-4">Project: </h5></div>
                                <div class="col"><h5><span id="div_project" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row my-2">
                                <div class="col"><h5 class="ms-4">Issuer Mobile Number: </h5></div>
                                <div class="col"><h5><span id="div_issuer_mobile_number" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row my-2">
                                <div class="col"><h5 class="ms-4">Issue Status: </h5></div>
                                <div class="col"><h5><span id="div_status" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                        {% endif %}

                        {% if request.user.is_user %}
                            <div class="row user_ticket_row">
                                <div class="col"><h5 class="ms-4">Issue ID: </h5></div>
                                <div class="col"><h5><span id="div_issue_id" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row user_ticket_row">
                                <div class="col"><h5 class="ms-4">Issue: </h5></div>
                                <div class="col"><h5><span id="div_issue" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row user_ticket_row">
                                <div class="col"><h5 class="ms-4">Project: </h5></div>
                                <div class="col"><h5><span id="div_project" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row user_ticket_row">
                                <div class="col"><h5 class="ms-4">Issuer Mobile Number: </h5></div>
                                <div class="col"><h5><span id="div_issuer_mobile_number" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            <div class="row user_ticket_row">
                                <div class="col"><h5 class="ms-4">Issue Status: </h5></div>
                                <div class="col"><h5><span id="div_status" class="ms-3 ticket_detail_value_span">-</span></h5></div>
                            </div>
                            <hr class="bg-dark border-2 border-top border-dark">
                            {% endif %}
                        </div>
                    </div>

                    {% if request.user.is_cso %}
                    <div class="row" style="margin: 3rem 0 1rem 0;">
                        <div class="col d-flex flex-row-reverse">

                            {% comment %}
                            <!-- NOT USING THIS APPRAOCH -->
                            <form method="POST" id="form_is_resolved">
                                {% csrf_token %}
                                <input type="text" name="resolved" id="inpt_is_resolved">
                                <button class="btn btn-lg bg-success mx-1" id="btn_is_resolved" onclick="isResolved()">Resolved</button>
                            </form>
                            {% endcomment %}

                            <input type="text" id="cso-dashboard-url" value='{% url "staffApplication:CsoWorkload:SupportDashboard" request.user.email  %}' readonly disabled hidden>
                            {% if not conversationInfo.is_resolved %}
                                <button type="button" class="btn btn-lg bg-light text-dark mx-2" data-bs-toggle="modal" data-bs-target="#remarkModal">
                                    Resolve
                                </button>
                                <!-- <input type="text" id="cso-dashboard-url" value='{% url "staffApplication:CsoWorkload:SupportDashboard" request.user.email  %}' readonly disabled hidden> -->
                                <!-- Fill up the input field with the cso dashboard-url -->
                                <!-- <form action="{% url 'homeApplication:CustomerSupportRoom' room_slug %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-xl text-uppercase">Is resolved</button>
                                </form> -->
                            {% else %}
                                <button class="btn btn-lg btn-secondary mx-2 text-dark" readonly>Resolved</button>
                            {% endif %}
                            <!-- <button class="btn btn-lg bg-danger text-dark mx-1">Invalid</button> -->
                            <!-- <button class="btn btn-lg bg-light text-dark mx-1">Unsolved</button> -->
                            <!-- <button class="btn btn-lg bg-light text-dark mx-1">Transferred</button> -->
                            <!-- <div class="col-3 position-relative mx-1">
                                <button class="btn btn-lg bg-light text-dark position-absolute bottom-0 end-0">View Detail</button>
                            </div> -->

			    <!-- Dismiss issue confirmation modal trigger button -->
                            <button type="button" class="btn bg-danger text-dark mx-2" data-bs-toggle="modal" data-bs-target="#dismissIssueConfirmationModal">
                                Dismiss
			    </button>

			    <!-- Ticket Detail View modal trigger button -->
                            <button type="button" class="btn bg-light text-dark mx-2 ticketDetailModal" data-id="ISBN-001122"
                                onclick="dispTicketDetail(ticket_issue_oid='{{ tms_issue_by_oid }}', user_signin_token='{{ user_signing_token_tms }}')"
                                data-bs-toggle="modal" data-bs-target="#ticketDetailModal" style="display: none;">
                                View Detail
                            </button>

			</div>

                    </div>
                    {% endif %}

                    {% if request.user.is_user %}
                    <div class="row" style="margin: 2rem 0 1rem 0;">
                        <div class="col d-flex flex-row-reverse">
                            <button type="button" class="btn btn-lg text-light mx-2 ticketDetailModal" data-id="ISBN-001122"
                            onclick="dispTicketDetail(ticket_issue_oid='{{ tms_issue_by_oid }}', user_signin_token='{{ user_signing_token_tms }}')"
                                data-bs-toggle="modal" data-bs-target="#ticketDetailModal" style="display: none; background: #344767;">
                                View Detail
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-7 bg-light ms-3 rounded shadow">

            {% if request.user.is_cso %}
            <div class="row" style="height: 82.5vh;">
            {% endif %}
            {% if request.user.is_user %}
            <div class="row" style="height: 80vh;">
            {% endif %}
                {% include 'home/customerSupportComponents/chatBody.html' %}
            </div>
        </div>
    </div>



    {% if request.user.is_cso %}
    <!-- Remarks/Resolve Modal -->
    {% include 'home/customerSupportComponents/modals/resolveIssueModal.html' %}
    <!-- Dismiss Issue Confirmation Modal -->
    {% include 'home/customerSupportComponents/modals/dismissIssueConfirmationModal.html' %}
    {% endif %}

    {% if request.user.is_user %}
    <!-- User Issue resolved Information Modal -->
    {% include 'home/customerSupportComponents/modals/userIssueResolvedInformationModal.html' %}
    <!-- Dismiss/Unresolved Issue Information Modal -->
    {% include 'home/customerSupportComponents/modals/dismissIssueInformationModal.html' %}
    {% endif %}

    <!-- View Ticket Detail Modal -->
    <div class="modal fade" id="ticketDetailModal" tabindex="-1" aria-labelledby="ticketDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="ticketDetailModalLabel">Issue Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-2"><b class="fs-4">Issue ID:</b></div>
                                        <div class="col text-start fs-4" style="margin-left: -2rem;"><span id="modal_span_ticket_issue_id">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Issue:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_issue">-</span></div>
                                    </p>
                                </div>
                            </div>
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Project:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_project">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Status:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_status">-</span></div>
                                    </p>
                                </div>
                            </div>
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Name:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_issuer_name">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Phone:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_issuer_mobile_number">-</span></div>
                                    </p>
                                </div>
                            </div>
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Email:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_issuer_email">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Created By:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_created_by">-</span></div>
                                    </p>
                                </div>
                            </div>
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-3"><b class="fs-5">Created On:</b></div>
                                        <div class="col text-start fs-5 ms-3"><span id="modal_span_ticket_created_on">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col text-start">
                                <div class="row">
                                    <p>
                                        <div class="col-2"><b class="fs-5">Description:</b></div>
                                        <div class="col text-start fs-5" style="margin-left: -2rem;"><span id="modal_span_ticket_description">-</span></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer py-4 bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 text-lg-start">Copyright &copy; 
                <b><a href="http://www.doer.com.bd">Doer Services Ltd.</a></b>
            </div>
        </div>
    </div>
</footer>






{% comment %}
<div class="row h-100 bg-primary">
    <div class="col"></div>
    <!-- Template copied from:  https://mdbootstrap.com/docs/standard/extended/chat/ -->
    <div class="col-8">
        {% include 'home/customerSupportComponents/chatBody.html' %}
    </div>
    <div class="col"></div>
</div>
{% endcomment %}

{% endblock %}



<!-- Custom JS -->
{% block js %}
<!-- Miscellaneaous JS: Resolve, Unsolved, Transferred, Invalid button trigger -->

<!-- Miscellaneaous JS: TMS Issue Fetch Load (Skeleton Loader) 
Ref:  https://www.youtube.com/watch?v=ZVug65gW-fc&t=55s
-->

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="{% static 'js/home/customerSupportChat/tmsIssueUpdate.js' %}"></script> 
<script src="{% static 'js/home/customerSupportChat/speechToText.js' %}"></script>
<script src="{% static 'js/miscellaneous/helper_func/get_cookies.js' %}"></script>

<script>
    let grid_tms_issue_skeleton = document.querySelector('.grid-tms-issue-skeleton');
    let grid_tms_issue_data = document.querySelector('.grid-tms-issue-data');
    
    function disp(ticket_issue_oid=1, user_signin_token=2) {
        console.log(`Ticket Issue Id (from 'disp()' function): ${ticket_issue_oid}`);
        // let user_signing_token_tms = "{{ user_signing_token_tms }}";
        console.log(`User signin token (from 'disp()' function): ${user_signin_token}`);

        let span_issue_id = document.getElementById('div_issue_id');
        let span_issue = document.getElementById('div_issue');
        let span_project = document.getElementById('div_project');
        let span_issuer_mobile_number = document.getElementById('div_issuer_mobile_number');
        let span_status = document.getElementById('div_status');

	var get_tms_issue_detail_url = `http://${window.location.host}/staff/api/tms-issue/${ticket_issue_oid}/${user_signin_token}/`;
        console.log("Fetch URL (GET):", get_tms_issue_detail_url);


        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        // fetch(`http://${window.location.host}/staff/api/tms-issue/${ticket_issue_oid}/${user_signing_token_tms}/`, requestOptions)
        fetch(`${get_tms_issue_detail_url}`, requestOptions)
        .then(response => response.json())
        .then(result => {
            // HIDE LOADER WILL BE IMPLEMENTED HERE
            grid_tms_issue_skeleton.style.display = "none";
            // grid_tms_issue_skeleton.remove();
            // grid_tms_issue_data.style.visibi = "block";
            grid_tms_issue_data.removeAttribute('style');

            // console.log(result);
            span_issue_id.innerHTML = "";
            span_issue_id.innerHTML = `${result.data.issue_id}`;
            span_issue.innerHTML = "";
            span_issue.innerHTML = `${result.data.category_title_en}`;
            span_project.innerHTML = "";
            span_project.innerHTML = `${result.data.project_title_en}`;
            span_status.innerHTML = "";
            span_status.innerHTML = `${result.data.status}`;
            span_issuer_mobile_number.innerHTML = "";
            span_issuer_mobile_number.innerHTML = `${result.data.issuer_mobile_number}`;
        })
        .catch(error => console.log('error', error));       // HIDE LOADER WILL BE IMPLEMENTED HERE


    }

    window.onload = function() {
        // yourFunction(param1, param2);
        console.log(`Window is fully laoded!`);
        tms_issue_oid = "{{ tms_issue_by_oid }}";
        console.log(`TSM Issue OID: ${tms_issue_oid}`);
        let user_signing_token_tms = "{{ user_signing_token_tms }}";
        // console.log(`User signin token: ${user_signing_token_tms}`);
        disp(ticket_issue_oid=tms_issue_oid, user_signin_token=user_signing_token_tms);
        let ticketDetailModalBtn = document.querySelector(".ticketDetailModal");
        ticketDetailModalBtn.style.display = 'block';
    };
</script>


<!-- Fetch Ticket Issue Detail on "View Detail" btn click -->
<script>
    // function dispTicketDetail(msg_id = 1, ticket_issue_oid = 2) {
    function dispTicketDetail(ticket_issue_oid=1, user_signin_token=2) {
        console.log(`clicked "dispTicketDetail()" function!`);
        console.log(`Ticket Issue Id: ${ticket_issue_oid}`);
        console.log(`User signin token TMS: ${user_signin_token}`);

        let modal_span_ticket_issue_id = document.getElementById('modal_span_ticket_issue_id');
        let modal_span_ticket_issue = document.getElementById('modal_span_ticket_issue');
        let modal_span_ticket_project = document.getElementById('modal_span_ticket_project');
        let modal_span_ticket_status = document.getElementById('modal_span_ticket_status');
        let modal_span_ticket_issuer_name = document.getElementById('modal_span_ticket_issuer_name');
        let modal_span_ticket_issuer_mobile_number = document.getElementById('modal_span_ticket_issuer_mobile_number');
        let modal_span_ticket_issuer_email = document.getElementById('modal_span_ticket_issuer_email');
        let modal_span_ticket_created_by = document.getElementById('modal_span_ticket_created_by');
        let modal_span_ticket_created_on = document.getElementById('modal_span_ticket_created_on');
        let modal_span_ticket_description = document.getElementById('modal_span_ticket_description');


	var get_tms_issue_detail_url = `http://${window.location.host}/staff/api/tms-issue/${ticket_issue_oid}/${user_signin_token}/`;
        console.log("Fetch URL (GET):", get_tms_issue_detail_url);


        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        // fetch(`http://${window.location.host}/staff/api/tms-issue/${ticket_issue_oid}/${user_signing_token_tms}/`, requestOptions)
        fetch(`${get_tms_issue_detail_url}`, requestOptions)
        .then(response => response.json())
        .then(result => {
            // HIDE LOADER WILL BE IMPLEMENTED HERE
            grid_tms_issue_skeleton.style.display = "none";
            // grid_tms_issue_skeleton.remove();
            // grid_tms_issue_data.style.visibi = "block";
            grid_tms_issue_data.removeAttribute('style');

            // console.log(result);
            modal_span_ticket_issue_id.innerHTML = "";
            modal_span_ticket_issue_id.innerHTML = `${result.data.issue_id}`;
            modal_span_ticket_issue.innerHTML = "";
            modal_span_ticket_issue.innerHTML = `${result.data.category_title_en}`;
            modal_span_ticket_project.innerHTML = "";
            modal_span_ticket_project.innerHTML = `${result.data.project_title_en}`;
            modal_span_ticket_status.innerHTML = "";
            modal_span_ticket_status.innerHTML = `${result.data.status}`;
            modal_span_ticket_issuer_name.innerHTML = "";
            modal_span_ticket_issuer_name.innerHTML = `${result.data.issuer_name_en}`;
            modal_span_ticket_issuer_mobile_number.innerHTML = "";
            modal_span_ticket_issuer_mobile_number.innerHTML = `${result.data.issuer_mobile_number}`;
            modal_span_ticket_issuer_email.innerHTML = "";
            modal_span_ticket_issuer_email.innerHTML = `${result.data.issuer_email}`;
            modal_span_ticket_created_by.innerHTML = "";
            modal_span_ticket_created_by.innerHTML = `${result.data.created_by_en}`;
            modal_span_ticket_created_on.innerHTML = "";
            modal_span_ticket_created_on.innerHTML = `${result.data.created_on}`;
            modal_span_ticket_description.innerHTML = "";
            modal_span_ticket_description.innerHTML = `${result.data.description}`;
        })
        .catch(error => console.log('error', error));       // HIDE LOADER WILL BE IMPLEMENTED HERE


    }
</script>


<!-- Miscellaneaous JS: Chat-body scroller -->
<script>
    // Scroll down the chatbody div after window loads
    var divElement = document.getElementById("chatbody-scroller");
    divElement.scroll({
        top: divElement.scrollHeight,//scroll to the bottom of the element
        behavior: 'smooth' //auto, smooth, initial, inherit
    });
</script>

<!-- WebSocket Script -->
<script>
    // VARIABLES
    const roomSlug = `{{ room_slug }}`;
    const ChatSupportURL = `ws://${window.location.host}/ws/cso-visitor/chat-support/${roomSlug}/`;    // [PRODUCTION - working]construct the websocket url
    console.log(ChatSupportURL);
    const chat_send_btn = document.querySelector('#chat-message-send-btn');
    const chat_msg_input_field = document.querySelector("#chat-message-input");
    let cso_email = `{{request.user.is_cso}}`;
    var reg_user = `{{request.user.is_user}}`;
    console.log(`CSO: ${cso_email}`);
    console.log(`CSO email is not empty: ${cso_email !== ''}`);
    console.log(`Registered User: ${reg_user}`);

    // WEBSOCKET OBJECT
    const ChatSupportSocket = new WebSocket(ChatSupportURL);
    // console.log(ChatSupportSocket);

    // WEBSOCKET Open function
    ChatSupportSocket.onopen = function (e) {
        console.log('Frontend Websocket: Connection Established!');
	
        if (reg_user === 'True') {
            // FOR USER
            // Make the conversation CANCELLED by the user, the CSO will only be notified that "The conversation is cancelled by the user"
            const cancel_chat_btn = document.querySelector("#cancel-chat-btn");
            cancel_chat_btn.onclick = function (e) {
                var user_email = `{{request.user.email}}`;
                var cso_email_backend = `{{ cso_user_email }}`;
                console.log(`cancel chat button is clicked!`);
                console.log(`cancel-chat-btn button is clicked by the user; email: ${user_email}`);
                console.log(`CSO email backend: ${cso_email_backend}`);
                ChatSupportSocket.send(JSON.stringify({
                    'cso_user_convo_cancelled': 'User has cancelled the chat!',
                    'cso_email': cso_email_backend,
                    'reg_user_email': user_email,
                    'roomslug': roomSlug,
                }));
            }
        }

	if (cso_email === "True") {
            // FOR CSO
            const dismiss_issue_confirmation_btn = document.querySelector("#dismiss-issue-confirmation-btn");
	    if (dismiss_issue_confirmation_btn !== null) {
		    dismiss_issue_confirmation_btn.onclick = function (e) {
		    	var common_registered_user_email = `{{ common_registered_user_email }}`;
                        var common_cso_email = `{{ common_cso_email }}`;
                        var remark_input_dismiss = document.querySelector("#remark-input-dismiss");
                        var remark_input_dismiss_value = remark_input_dismiss.value;

			tmsIssueUpdate_unresolve(user_signing_token_tms=user_signin_token,
                        remark_input_dismiss_value=remark_input_dismiss_value,
                        ticket_issue_oid=ticket_issue_oid,
                        common_cso_email=common_cso_email,
                        common_registered_user_email=common_registered_user_email,
                        roomSlugParam=roomSlug);
		    }
	    }
	}
    }

    // WEBSOCKET Data Receiving (from backend consumer) function
    ChatSupportSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const cso_dashboard_url = document.querySelector("#cso-dashboard-url");

	console.log(data);  // comment it later
        // Chat message
        if (data.message) {
            if (data.user_identity === 'cso') {
		var chatHTML = `
                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="{{ cso_user_profile_pic.url }}"
                                alt="avatar 1" style="width: 45px; height: 45px;" class="rounded-circle">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${
                                  data.message
                                }</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
                            </div>
                        </div>
                    `;

            } else {
                var chatHTML = `<div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">${data.message}</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
                            </div>
                            <img src="{{ registered_user_profile_pic.url }}"
                                alt="avatar 1" style="width: 45px; height: 45px;" class="rounded-circle">
                        </div>`;
            }


            document.querySelector('.chat-messages-box').innerHTML += chatHTML;
            // After adding the chat-message div, scroll down automatically at the bottom
            divElement.scroll({
                top: divElement.scrollHeight,//scroll to the bottom of the element
                behavior: 'smooth' //auto, smooth, initial, inherit
            });
        }
        
        // Intruder redirection
        if (data.intruder_redirection) {
            if (data.intruder_redirection === "Redirect the intruder to homepage!") {
                console.log(`Redirect the intruder to homepage!`);
                // Redirect the user to the homepage using the "ChatSupportSocket.onclose" func
                // [Ref]: https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
                window.location.href = `{% url 'homeApp:LangingPage' %}`;   // works like render of dj (maybe)
                // window.location.replace(`{% url 'homeApp:LangingPage' %}`);  // works like render-redirect of dj (maybe)
            }
        }

        // Redirect the CSO & visitor/user accordingly to his/her CSO-dashboard & homepage, since the corresponding CSO marked the current convo as resolved.
        if (data.support_is_resolved) {
            console.log(`The support is resolved! Redirect the cso to it's dashboard & the visitor to the homepage!`);
            if (cso_email == 'True') {
                window. close();
            } 
            if (reg_user == 'True') {
		let userIssueResolvedInformationModal = document.querySelector("#userIssueResolvedInformationModal");
                let countDownSpan_userIssueResolvedInformationModal = document.getElementsByClassName("countDownSpan_userIssueUnresolvedInformation");
                let countDown_userIssueResolvedInformationModal = 10;
                let userIssueResolvedInformationModalOKButton = document.querySelector("#userIssueResolvedInformationModalOKButton");
                $('#userIssueResolvedInformationModal').modal('show');

                setInterval(() => {
                    countDown_userIssueResolvedInformationModal -= 1;
                    countDownSpan_userIssueResolvedInformationModal[0].innerHTML = `${countDown_userIssueResolvedInformationModal}s`;
                }, 1000);

                setTimeout(() => {
                    $('#userIssueResolvedInformationModal').modal('hide');
                    window.location.href = `{% url 'homeApp:LangingPage' %}`;
                }, 10000);

                userIssueResolvedInformationModalOKButton.addEventListener("click", () => {
                    window.location.href = `{% url 'homeApp:LangingPage' %}`;
                });
            }
        }

        // Redirect the CSO & visitor/user accordingly to his/her CSO-dashboard & homepage, since the corresponding CSO removed the msg-req from the CSR dashboard.
        if (data.support_req_is_removed) {
            if (cso_email === 'True') {
                console.log(`If the tab in the CSO end is opened, then that will be closed automatically!`);
                window. close();
            }
            if (reg_user === 'True') {
                console.log(`Registered user will be sent to the homepage!`);
                window.location.href = `{% url 'homeApp:LangingPage' %}`;
            }
        }

        // Redirect the user to the homepage, the CSO will be notified that the user has cancelled the chat-convo
        if (data.conversation_is_cancelled) {
            if (cso_email === 'True') {
                var chat_convo_cancelled = `{{ chat_convo_cancelled }}`;
                // console.log(`chat-convo is cancelled: ${chat_convo_cancelled}`);
                if (chat_convo_cancelled === "False") {
                    console.log(`The user has cancelled the conversation!`);
                    const cancel_chat_notif_div = document.querySelector("#chat-cancel");
                    cancel_chat_notif_div.removeAttribute("hidden");
                    console.log(`chat-cancel notification-div DOM`, cancel_chat_notif_div);
                }
            }
            if (reg_user === 'True') {
                console.log(`Registered user will be sent to the homepage!`);
                window.location.href = `{% url 'homeApp:LangingPage' %}`;
            }
        }

	if (data.conversation_is_dismissed) {
            console.log(`The support is dismissed! Redirect the cso to it's dashboard & the user to the homepage (after 10s)!`);
            if (cso_email == 'True') {
                console.log(`CSO email:`, cso_email);
                // console.log(`CSO dashboard url:`, cso_dashboard_url.value);
                // window.location.href = cso_dashboard_url.value;
                window.close();
            }
            if (reg_user == 'True') {
                console.log(`Registered user will be sent to the homepage!`);
                console.log(`Registered user email:`, reg_user);

                // ----------------------------
                let dismissIssueInformationModal = document.querySelector("#dismissIssueInformationModal");
                let countDownSpan_dismissIssueInformationModal = document.getElementsByClassName("countDownSpan_dismissIssueInformation");
                let countDown_dismissIssueInformationModal = 10;
                let dismissIssueInformationModalOKButton = document.querySelector("#dismissIssueInformationModalOKButton");
                $('#dismissIssueInformationModal').modal('show');

                setInterval(() => {
                    countDown_dismissIssueInformationModal -= 1;
                    countDownSpan_dismissIssueInformationModal[0].innerHTML = `${countDown_dismissIssueInformationModal}s`;
                }, 1000);

                setTimeout(() => {
                    console.log(`Modal is closed after 10s`);
                    $('#dismissIssueInformationModal').modal('hide');
                    window.location.href = `{% url 'homeApp:LangingPage' %}`;
                }, 10000);

                dismissIssueInformationModalOKButton.addEventListener("click", () => {
                    console.log(`Immediately redirect to homepage!`);
                    window.location.href = `{% url 'homeApp:LangingPage' %}`;
                });
                // ----------------------------
            }
        }
    }

    // WEBSOCKET Close function
    ChatSupportSocket.onclose = function (e) {
        console.log('Frontend Websocket: Connection Closed!');
    }

    // Chat Msg send btn click event
    chat_send_btn.onclick = function (e) {
        // console.log('send btn is clicked!');
        const input_field_message = chat_msg_input_field.value;
        // console.log(input_field_message);
        // const user_role = `{{ request.user.is_cso }}`;
        // const user_identity = (user_role === '')? 'anonymous': 'cso';
        // console.log('user identity:', user_identity)
        let user_identity = '';
        if (reg_user === "True") {
            user_identity = 'reg_user';
        }
        if (cso_email === "True") {
            user_identity = 'cso';
        }

        // check if the input field is not empty
        if (input_field_message) {
            ChatSupportSocket.send(JSON.stringify({
                'message': input_field_message,
                'user_identity': user_identity,
                'roomslug': roomSlug
            }));
            chat_msg_input_field.value = '';
        }
    }

    chat_msg_input_field.addEventListener("keypress", function (e) {
        // If the user presses the "Enter" key on the keyboard
        if (e.key === "Enter") {
            // Cancel the default action, if needed
            e.preventDefault();
            // Trigger the chat-send-button element with a click
            chat_send_btn.click();
        }
    });


    if (cso_email !== '') {
	// FOR CSO
        // Mark the conversation as resolved by the CSO (this js-code-block will be avaiable to the CSO-frontend)
        const is_resolved = document.querySelector("#is-resolved");

        console.log(`is_resolved_button,`, is_resolved);
	
	if (is_resolved !== null) {
		is_resolved.onclick = function (e) {
			var hdo_email_resolve_opt = `{{request.user.email}}`;
                	var registered_user_email = `{{ registered_user_email }}`;
                	var remark_input_resolve = document.querySelector("#remark-input-resolve");
                	var remark_input_resolve_value = remark_input_resolve.value;

			// Resolve issue into TMS, Then send the socket signal
			tmsIssueUpdate_resolve(user_signin_token=user_signin_token,
			    remark_input_resolve_value=remark_input_resolve_value,
			    ticket_issue_oid=ticket_issue_oid,
			    hdo_email_resolve_opt=hdo_email_resolve_opt,
			    registered_user_email=registered_user_email,
			    roomSlugParam=roomSlug);
			}
	}
    }

</script>
{% endblock %}
