<!DOCTYPE html>
{% load static %}

<!-- Template Copied from:  https://mdbootstrap.com/docs/standard/extended/chat/ -->
<section style="height: 100%;">
    <div class="container-fluid" style="height: 100%; margin: 0; padding: 0;">

        <div class="row d-flex justify-content-center" style="height: 100%;">
            <div class="col-md-10 col-lg-10 col-xl-12" style="height: 100%; margin: 0; padding: 0;">

                <div class="card" id="chat2" style="height: 100%;">
                    <div class="card-header px-4" 
                        {% if request.user.is_user %}
                        style="background-color: #F7F7F7; color: #000000;"
                        {% endif %}
                        style="background-color: #344767; color: #ffffff;">
                        <div class="row">
                            <div class="col d-flex justify-content-start align-items-center">
                                <h3 style="margin-top: .3rem;">Chatbox</h3>
                            </div>
                            <div class="col d-flex justify-content-end align-items-center">
                                {% if request.user.is_user %}
                                        {% if not conversationInfo.is_resolved %}
                                        <button type="button" class="btn btn-danger" id="cancel-chat-btn" data-mdb-ripple-color="dark" style="width: 8rem;">Cancel Chat</button>
                                        {% else %}
                                        <button type="button" class="btn btn-secondary text-dark" data-mdb-ripple-color="dark" style="width: 8rem;">Resolved</button>
                                        {% endif %}
                                {% endif %}

                                    <!-- Notify the CSO that the user has cancelled the chat-convo -->
                                {% if request.user.is_cso %}
                                    <!-- If chat-convo.is_cancelled is False, render this div -->
                                    {% if not chat_convo_cancelled %}
                                    <div id="chat-cancel" hidden>
                                        <h5 class="mb-0">User has cancelled the chat conversation.</h5>
                                    </div>
                                    {% endif %}
                                    {% if chat_convo_cancelled %}
                                    <div id="chat-cancel">
                                        <h5 class="mb-0">User has cancelled the chat conversation.</h5>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body overflow-auto chat-messages-box" data-mdb-perfect-scrollbar="true" id="chatbody-scroller"
                        style="position: relative; height: 400px;">
                        <!-- IMPORTANT COMMENTS -->
                        <!-- <div class="d-flex flex-row justify-content-start">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">How are you
                                    ...???
                                </p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">What are you
                                    doing
                                    tomorrow? Can we come up a bar?</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                            </div>
                        </div> -->

                        <!-- <div class="divider d-flex align-items-center mb-4">
                            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
                        </div> -->

                        <!-- <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see!
                                    Tomorrow
                                    office. will
                                    be free on sunday.</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                        </div> -->

                        <!-- <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">We will go
                                    on
                                    Sunday?</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I will meet you Sandon
                                    Square
                                    sharp at
                                    10 AM</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay i will
                                    meet
                                    you on
                                    Sandon Square</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Do you have pictures of
                                    Matley
                                    Marriage?</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sorry I
                                    don't
                                    have. i
                                    changed my phone.</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Okay then see you on
                                    sunday!!
                                </p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                        </div> -->

                        {% for m in chat_messages %}
                            {% if m.user_identity == 'cso' %}
                                <div class="d-flex flex-row justify-content-start">
                                    <img src="{{ cso_user_profile_pic.url }}"
                                        alt="avatar 1" style="width: 45px; height: 45px;" class="rounded-circle">
                                    <div>
                                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ m.message }}</p>
                                        <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                    <div>
                                        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ m.message }}</p>
                                        <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                                    </div>
                                    <img src="{{ registered_user_profile_pic.url }}"
                                        alt="avatar 1" style="width: 45px; height: 45px;" class="rounded-circle">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="chat-body-card-footer" class="card-footer text-muted d-flex justify-content-start align-items-center px-1 py-2">
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                            alt="avatar 3" style="width: 40px; height: 100%;" class="me-1"> -->
                        {% if chat_convo_cancelled %}
                        <input type="text" class="form-control form-control-lg ms-2" id="chat-message-input"
                            placeholder="Type message" disabled>
                        <a class="mx-3" id="chat-message-send-btn" 
                            style="cursor: not-allowed;"><i class="fas fa-paper-plane fa-2x" style="color: #344767;" disabled></i></a>
                        {% endif %}
                        {% if not chat_convo_cancelled %}
                        <input type="text" class="form-control form-control-lg ms-2" id="chat-message-input"
                            placeholder="Type message">
                        <!-- <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a> -->
                        <!-- <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a> -->
                        {% if request.user.is_cso %}
                        <!-- Multi Line Reply Icon -->
                        <div id="mlr-container" class="-mlr-display-none">
                        <!-- <div id="mlr-container" class="mlr-container-display mlr-container-pop-in-out"> -->
                            <svg id="mlr" xmlns="http://www.w3.org/2000/svg">
                                <rect id="mlr-icon" width="100%" height="100%" fill="white"/>   <!-- Changed color code: #344767 -->
                                <text id="mlr-text" x="50%" y="50%" font-size="16" fill="#344767" text-anchor="middle" dominant-baseline="middle">MLR</text>  <!-- Changed color code: white -->
                            </svg>
                        </div>
                        {% endif %}
                        <a class="mx-3" id="chat-message-send-btn" 
                            style="cursor: pointer;"><i class="fas fa-paper-plane fa-2x" style="color: #344767;"></i></a>
                        <!-- <a class="mx-3" id="chat-msg-mic-btn" 
                        style="cursor: pointer;"><i class="fa-solid fa-microphone fa-2x"  style="color: #344767;"></i></i></a> -->
                        <div id="recordButton" class="ms-1 me-3" aria-disabled="true">
                            <i id="microphone" class="fa fa-microphone fa-2x" style="color: #344767;"></i>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

