<!DOCTYPE html>
{% extends 'base/staffApp_base.html' %}
{% load static %}

<!-- Title -->
{% block title %} {{ title }} | iBAS++ {% endblock %}

<!-- Content Body -->
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <h1>Customer Support Request | iBAS++ </h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col">
            <h4>CSO Username: {{ request.user.username }} </h4>
        </div>
        <div class="col">
            <div class="row">
                <h4 class="text-center pb-4">Current Request(s): <span id="support_req_nums">{{ support_req_nums }}</span></h4>
            </div>
        </div>
    </div>


    <!-- Chat Support Request List -->
    <div class="table-responsive" style="margin-top: 2rem;">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client IP</th>
                    <th scope="col">Visitor Session UUID</th>
                    <th scope="col">Registered User Email</th>
                    <th scope="col">Room Slug</th>
                    <th scope="col">Enter Chat</th>
                    <th scope="col">View Ticket</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for csr in customer_support_requests %}
                <tr id="Row_msg_req_{{ csr.room_slug }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ csr.client_ip }}</td>
                    <td>{{ csr.visitor_session_uuid }}</td>
                    <td>{{ csr.registered_user_email_normalized }}</td>
                    <td>{{ csr.room_slug }}</td>
                    <td>
                        <a href="{% url 'homeApplication:CustomerSupportRoom' csr.room_slug %}"
                            class="btn btn-primary btn-xl px-4" target="_blank">
                            Enter
                        </a>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-id="ISBN-001122"
                            onclick="disp(msg_id='{{ csr.room_slug }}', ticket_issue_oid='{{ csr.issue_by_oid }}')"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ticket
                        </button>
                    </td>
                </tr>
                <!-- using "empty" block solution: https://stackoverflow.com/a/902786 -->
                {% empty %}
                <tr>
                    <th scope="row" colspan="7" class="text-center"><b>No Support Request :)</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- Custom JS -->
{% block js %}
<!-- Jquery CDN (To get client IP address) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- Fetch TMS Issue data using Jquery -->

<script>
    // $(document).on("click", ".open-AddBookDialog", function () {
    //      var myBookId = $(this).data('id');
    //      $(".modal-body #bookId").val( myBookId );
    // });


    function disp(msg_id = 1, ticket_issue_oid = 2) {
        console.log(`clicked! ${msg_id}`);
        console.log(`Ticket Issue Id: ${ticket_issue_oid}`);

        var myHeaders = new Headers();
        myHeaders.append("Accept", "application/json, text/plain, */*");
        myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoidGVzdF90YW5qaW1fMSIsInJvbGUiOiJDQUxMIENFTlRFUiBBR0VOVCIsImxvZ2luX29pZCI6ImQ0NDZmNDMzLWE4YWYtNDAwMS1iNTMzLTdmYzU5MWQ2Y2Y0YiIsImlhdCI6MTY3ODQ0NDY2OSwiZXhwIjoxNjc4NTMxMDY5fQ.UDqsENv3yPmu0OehNIkOOJyVUvbSiYyvuDVptqaia3g");
        myHeaders.append("Content-Type", "application/json");
        // myHeaders.append("Referer", `https://tms-test.celloscope.net/issue/admin-issue-list/${ticket_issue_oid}`);
        // myHeaders.append("Referer", `http://172.16.6.134/issue/admin-issue-list/${ticket_issue_oid}`);
        myHeaders.append("User-Agent", "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36 OPR/96.0.0.0");
        myHeaders.append("sec-ch-ua", "\"Not=A?Brand\";v=\"8\", \"Chromium\";v=\"110\", \"Opera\";v=\"96\"");
        myHeaders.append("sec-ch-ua-mobile", "?0");
        myHeaders.append("sec-ch-ua-platform", "\"Linux\"");

        var raw = JSON.stringify({
            "oid": `${ticket_issue_oid}`
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        // fetch("https://tms-test.celloscope.net/api/v1/issue-detail-by-oid", requestOptions)
        fetch("http://172.16.6.134/api/v1/issue-detail-by-oid", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    }
</script>


<!-- WebSocket Script -->
<script>
    // VARIABLES
    let cso_email = `{{ cso_email }}`;
    console.log(`CSO Email (backend channel-group will normalize the email-string):`, cso_email);
    const url = `ws://${window.location.host}/ws/cso-workload/support-dashboard/${cso_email}/`;    // [PRODUCTION - working]construct the websocket url
    // console.log(url);
    const cso_request_numsDOM = document.querySelector('#support_req_nums');

    // WEBSOCKET OBJECT
    const socket = new WebSocket(url);
    // console.log(socket);

    // Open the websocket connection for the frontend
    socket.onopen = function (e) {
        console.log('Frontend Websocket: Connection Established!');
    }

    // socket receiver: Backend --> Frontend
    socket.onmessage = function (e) {
        // console.log(e.data);
        // console.log(JSON.parse(e.data));    // gets the json-resp-data sent from the backend-consumer-websocket
        const data = JSON.parse(e.data);

        // New Cust-Support Request
        if (data.new_supprt_reqst) {
            console.log(`New customer support raised!`);
            updated_reqs = data.new_supprt_reqst.reverse()
            console.log(`New customer support request:`, updated_reqs);
            cso_request_numsDOM.innerHTML = updated_reqs.length;
            // Get all the table-body-rows & delete each rows
            let tbodytr = document.querySelectorAll("tbody#tbody > tr");
            tbodytr.forEach((Item) => {
                Item.remove();
            });
            let tbody = document.querySelector("#tbody");
            let newtr = '';
            let counter = 0;
            let url = 'http://127.0.0.1:8080/customer-support';
            updated_reqs.forEach((req) => {
                // console.log(req);
                // newtr += `${req.client_ip} ----- ${req.room_slug}`;
                newtr += `<tr id="Row_msg_req_${req.room_slug}">
                    <th scope="row">${counter += 1}</th>
                    <td>${req.client_ip}</td>
                    <td>${req.visitor_session_uuid}</td>
                    <td>${req.registered_user_email_normalized}</td>
                    <td>${req.room_slug}</td>
                    <td>
                        <a href="${url}/${req.room_slug}/"
                            class="btn btn-primary btn-xl px-4" 
                            target="_blank">
                            Enter
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-id="ISBN-001122"
                            onclick="disp(msg_id='${req.room_slug}', ticket_issue_oid='${req.issue_by_oid}')"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ticket
                        </button>
                    </td>
                </tr>`;
            });
            tbody.innerHTML = newtr;
        }

        // Old Cust-Support Request is resolved
        if (data.old_supprt_req_roomSlug) {
            let old_supprt_req_roomSlug = data.old_supprt_req_roomSlug;
            let old_supprt_req_isResolved = data.old_supprt_req_isResolved;
            console.log(`An old message request is resolved!`);
            let msg_req_row = document.getElementById(`Row_msg_req_${data.old_supprt_req_roomSlug}`);
            msg_req_row.remove();   // remove the msg-req-row which is currently marked as "Resolved" by the CSO
        }
    }

    socket.onclose = function (e) {
        console.log('Frontend Websocket: Connection Closed!');
    }
</script>
{% endblock %}