<!DOCTYPE html>
{% extends 'base/staffApp_base.html' %}
{% load static %}

<!-- Title -->
{% block title %} {{ title }} | iBAS++ {% endblock %}

<!-- Content Body -->
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <h1>Customer Support Request | iBAS++ </h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col">
            <h4>CSO Username: {{ request.user.username }} </h4>
        </div>
        <div class="col">
            <div class="row">
                <h4 class="text-center pb-4">Current Request(s): 
                    <span id="support_req_nums">{{ support_req_nums }}</span>
                </h4>
            </div>
        </div>
    </div>


    <!-- Chat Support Request List -->
    <div class="table-responsive" style="margin-top: 2rem;">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client IP</th>
                    <th scope="col">Visitor Session UUID</th>
                    <th scope="col">Registered User Email</th>
                    <th scope="col">Room Slug</th>
                    <th scope="col">Enter Chat</th>
                    <th scope="col">View Ticket</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for csr in customer_support_requests %}
                <tr id="Row_msg_req_{{ csr.room_slug }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ csr.client_ip }}</td>
                    <td>{{ csr.visitor_session_uuid }}</td>
                    <td>{{ csr.registered_user_email_normalized }}</td>
                    <td>{{ csr.room_slug }}</td>
                    <td>
                        <a href="{% url 'homeApplication:CustomerSupportRoom' csr.room_slug %}"
                            class="btn btn-primary btn-xl px-4" target="_blank">
                            Enter
                        </a>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-id="ISBN-001122"
                            onclick="disp(msg_id='{{ csr.room_slug }}', ticket_issue_oid='{{ csr.issue_by_oid }}')"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ticket
                        </button>
                    </td>
                </tr>
                <!-- using "empty" block solution: https://stackoverflow.com/a/902786 -->
                {% empty %}
                <tr>
                    <th scope="row" colspan="7" class="text-center"><b>No Support Request :)</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2" id="exampleModalLabel">Issue Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-4"><b>Issue ID: <span id="span_issue_id">ISSUE - 2023-2-41433</span></b></p>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-5"><b>Issue: <span id="span_issue">Fund Transfer</span></b></p> 
                        </div>
                        <div class="col text-start">
                            <p class="fs-5"><b>Project: <span id="span_project">Smart Banking</span></b></p> 
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-5"><b>Status: <span id="span_status">Submitted</span></b></p> 
                        </div>
                        <div class="col text-start">
                            <p class="fs-5"><b>Issuer Name: <span id="span_issuer_name">Zubair Azim Miazi</span></b></p> 
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-5"><b>Issuer Mobile Number: <span id="span_issuer_mobile_number">+8801810176825</span></b></p> 
                        </div>
                        <div class="col text-start">
                            <p class="fs-5"><b>Issuer Email: <span id="span_issuer_email">zubair.miazi@doer.com.bd</span></b></p> 
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-5"><b>Created By: <span id="span_created_by">Chatbot</span></b></p> 
                        </div>
                        <div class="col text-start">
                            <p class="fs-5"><b>Created On: <span id="span_created_on">2023-03-09T11:38:18.757Z</span></b></p> 
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col text-start">
                            <p class="fs-5"><b>Description: <span id="span_description">1721221642</span></b></p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- Custom JS -->
{% block js %}
<script>
    // msg_id -> message-request-id
    // ticket_issue_oid -> tms-ticket-issue-oid
    function disp(msg_id = 1, ticket_issue_oid = 2) {
        console.log(`clicked! ${msg_id}`);
        console.log(`Ticket Issue Id: ${ticket_issue_oid}`);
        let user_signing_token_tms = "{{ user_signing_token_tms }}";

        let span_issue_id = document.getElementById('span_issue_id');
        let span_issue = document.getElementById('span_issue');
        let span_project = document.getElementById('span_project');
        let span_status = document.getElementById('span_status');
        let span_issuer_name = document.getElementById('span_issuer_name');
        let span_issuer_mobile_number = document.getElementById('span_issuer_mobile_number');
        let span_issuer_email = document.getElementById('span_issuer_email');
        let span_created_by = document.getElementById('span_created_by');
        let span_created_on = document.getElementById('span_created_on');
        let span_description = document.getElementById('span_description');

        var myHeaders = new Headers();
        myHeaders.append("Accept", "application/json, text/plain, */*");
        myHeaders.append("Authorization", `Bearer ${user_signing_token_tms}`);
        myHeaders.append("Content-Type", "application/json");
        // myHeaders.append("Referer", `https://tms-test.celloscope.net/issue/admin-issue-list/${ticket_issue_oid}`);
        // myHeaders.append("Referer", `http://172.16.6.134/issue/admin-issue-list/${ticket_issue_oid}`);
        myHeaders.append("User-Agent", "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36 OPR/96.0.0.0");
        myHeaders.append("sec-ch-ua", "\"Not=A?Brand\";v=\"8\", \"Chromium\";v=\"110\", \"Opera\";v=\"96\"");
        myHeaders.append("sec-ch-ua-mobile", "?0");
        myHeaders.append("sec-ch-ua-platform", "\"Linux\"");

        var raw = JSON.stringify({
            "oid": `${ticket_issue_oid}`
            // "oid": `64ecfb10-e036-418d-8bc0-eea566b28ca0`
            // "oid": `20f90502-54a9-4e9b-954e-9c5502b1ceb7`
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        // fetch("https://tms-test.celloscope.net/api/v1/issue-detail-by-oid", requestOptions)
        fetch("http://172.16.6.134/api/v1/issue-detail-by-oid", requestOptions)
            // .then(response => response.text())
            .then(response => response.json())
            .then(result => {
                // HIDE LOADER WILL BE IMPLEMENTED HERE

                // console.log(result);
                // console.log(result.data);
                // console.log(result.data.oid);
                // console.log(result.data.issue_id);
                // console.log(result.data.category_title_en);
                // console.log(result.data.project_title_en);
                // console.log(result.data.status);
                // console.log(result.data.issuer_name_en);
                // console.log(result.data.issuer_mobile_number);
                // console.log(result.data.issuer_email);
                // console.log(result.data.created_by_en);
                // console.log(result.data.created_on);
                // console.log(result.data.description);

                span_issue_id.innerHTML = "";
                span_issue_id.innerHTML = `${result.data.issue_id}`;
                span_issue.innerHTML = "";
                span_issue.innerHTML = `${result.data.category_title_en}`;
                span_project.innerHTML = "";
                span_project.innerHTML = `${result.data.project_title_en}`;
                span_status.innerHTML = "";
                span_status.innerHTML = `${result.data.status}`;
                span_issuer_name.innerHTML = "";
                span_issuer_name.innerHTML = `${result.data.issuer_name_en}`;
                span_issuer_mobile_number.innerHTML = "";
                span_issuer_mobile_number.innerHTML = `${result.data.issuer_mobile_number}`;
                span_issuer_email.innerHTML = "";
                span_issuer_email.innerHTML = `${result.data.issuer_email}`;
                span_created_by.innerHTML = "";
                span_created_by.innerHTML = `${result.data.created_by_en}`;
                span_created_on.innerHTML = "";
                span_created_on.innerHTML = `${result.data.created_on}`;
                span_description.innerHTML = "";
                span_description.innerHTML = `${result.data.description}`;
            })
            .catch(error => console.log('error', error));       // HIDE LOADER WILL BE IMPLEMENTED HERE
    }

</script>


<!-- WebSocket Script -->
<script>
    // VARIABLES
    let cso_email = `{{ cso_email }}`;
    console.log(`CSO Email (backend channel-group will normalize the email-string):`, cso_email);
    const url = `ws://${window.location.host}/ws/cso-workload/support-dashboard/${cso_email}/`;    // [PRODUCTION - working]construct the websocket url
    // console.log(url);
    const cso_request_numsDOM = document.querySelector('#support_req_nums');

    // WEBSOCKET OBJECT
    const socket = new WebSocket(url);
    // console.log(socket);

    // Open the websocket connection for the frontend
    socket.onopen = function (e) {
        console.log('Frontend Websocket: Connection Established!');
    }

    // socket receiver: Backend --> Frontend
    socket.onmessage = function (e) {
        // console.log(e.data);
        // console.log(JSON.parse(e.data));    // gets the json-resp-data sent from the backend-consumer-websocket
        const data = JSON.parse(e.data);

        // New Cust-Support Request
        if (data.new_supprt_reqst) {
            console.log(`New customer support raised!`);
            updated_reqs = data.new_supprt_reqst.reverse()
            console.log(`New customer support request:`, updated_reqs);
            cso_request_numsDOM.innerHTML = updated_reqs.length;
            // Get all the table-body-rows & delete each rows
            let tbodytr = document.querySelectorAll("tbody#tbody > tr");
            tbodytr.forEach((Item) => {
                Item.remove();
            });
            let tbody = document.querySelector("#tbody");
            let newtr = '';
            let counter = 0;
            let url = 'http://127.0.0.1:8080/customer-support';
            updated_reqs.forEach((req) => {
                // console.log(req);
                // newtr += `${req.client_ip} ----- ${req.room_slug}`;
                newtr += `<tr id="Row_msg_req_${req.room_slug}">
                    <th scope="row">${counter += 1}</th>
                    <td>${req.client_ip}</td>
                    <td>${req.visitor_session_uuid}</td>
                    <td>${req.registered_user_email_normalized}</td>
                    <td>${req.room_slug}</td>
                    <td>
                        <a href="${url}/${req.room_slug}/"
                            class="btn btn-primary btn-xl px-4" 
                            target="_blank">
                            Enter
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-id="ISBN-001122"
                            onclick="disp(msg_id='${req.room_slug}', ticket_issue_oid='${req.issue_by_oid}')"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ticket
                        </button>
                    </td>
                </tr>`;
            });
            tbody.innerHTML = newtr;
        }

        // Old Cust-Support Request is resolved
        if (data.old_supprt_req_roomSlug) {
            let old_supprt_req_roomSlug = data.old_supprt_req_roomSlug;
            let old_supprt_req_isResolved = data.old_supprt_req_isResolved;
            console.log(`An old message request is resolved!`);
            let msg_req_row = document.getElementById(`Row_msg_req_${data.old_supprt_req_roomSlug}`);
            msg_req_row.remove();   // remove the msg-req-row which is currently marked as "Resolved" by the CSO
        }
    }

    socket.onclose = function (e) {
        console.log('Frontend Websocket: Connection Closed!');
    }
</script>
{% endblock %}