<!doctype html>
{% load static %}
<html lang="en">

<head>
	<title>{{ title }} | iBAS++</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/authenticationApp/generic_style.css' %}">

	<link rel="icon" type="image/png" href="{% static 'images/logo/ibas_logo.png' %}">

	<!-- Form Validation Error -->
    <link rel="stylesheet" href="{% static 'css/authenticationApp/form_validation_error.css' %}">

	<link rel="stylesheet" href="{% static 'css/home/landing_page/tada_style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home/landing_page/static_calendar.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'landing_page_chatbot_statics/static/css/materialize.min.css' %}"/>

	<!-- Chatbot CSS -->
	<link rel="stylesheet" href="{% static 'css/home/chatbot/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/authenticationApp/general_chat.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landing_page_chatbot_statics/static/css/style.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row text-center mb-4">
				<div class="col">
					<img src="{% static 'images/logo/ibas_logo.png' %}" class="navbar-brand-img" style="height:100px; width:100px" alt="main_logo">
				</div>
			</div>
			<div class="row text-center">
				<div class="col d-block">
					<p class="login_header">Welcome to iBAS++ Chat Support System</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<p class="login_to_ibass">iBAS++ Chat</p>
								<p class="user_login">User Login</p>
							</div>
						</div>
						<div class="login-wrap p-lg-5">

							<!-- Error Flash Msg -->
							{% if messages %}
                            	{% for msg in messages %}
									<div id="errorDiv">
										<div class="row m-0 p-0">
											<div class="col-2" id="outer-holder">
												<div class="outer" id="outer">
													<div class="inner">
													<label id="flash_msg_close_label">Close</label>
												</div>
												</div>
											</div>
											<div class="col d-flex flex-row" id="flash_msg_para_div">
												<p id="flash_msg_para">{{ msg }}</p>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}

							<form action="#" method="POST" class="signin-form">
								{% csrf_token %}
								<div class="form-group mb-3">
									<label class="label" for="email">PHONE OR EMAIL</label>
									{{ form.email }}
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Password</label>
									{{ form.password }}
								</div>
								<div class="form-group">
									<button style="background: hsl(184, 96%, 18%); border: 1px solid hsl(184, 96%, 18%);" type="submit" class="form-control btn btn-primary submit px-3">Login</button>
								</div>
								<div class="form-group">
									<p>Don't have an account?
										<a style="text-decoration: underline; color: lightblue;" href="{% url 'authenticationApplication:UserAuth:UserRegistrationPageView' %}">Create an account</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- new chat window -->
	<div class="widget">
        <div style="border: 5px solid #02555b;text-align: center;background-color: #02555b;border-radius: 10px 10px 0px 0px;">
        <p style="font-family: 'Roboto Mono', monospace;color:white"> <b>iBAS++ Chatbot</b></p>
            <!-- Dropdown menu-->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#" id="clear">Clear</a></li>
                <li><a href="#" id="restart">Restart</a></li>
                <li><a href="#" id="close">Close</a></li>
            </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
            <div class="chatbox-navbar">
                <div class="user-details">
                    <!-- Chatbox content area -->
                </div>
              </div>
            <div class="clearfix"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
			<!-- <textarea
            id="userInput"
            placeholder="Say something..."
            class="usrInput"
            ></textarea> -->
            <!-- <textarea
            id="user-input"
            placeholder="Say something..."
            class="usrInput"
            ></textarea> -->
			<!-- <input type="text" id="userInput" placeholder="Say something..." class="userInput" name="userInput"> -->

			<input type="text" id="user-input" class="usrInput" placeholder="Say something...">

			<!-- <textarea 
			id="chatbot-user-input"
            placeholder="Say something..."
            class="usrInput"
			></textarea> -->

            
            <!-- <div id="recordButton" aria-disabled="true">
                <i id="microphone" class="fa fa-microphone" aria-hidden="true"></i>
            </div> -->

        </div>
        </div>
    </div>
	
	
	<script src="{% static 'js/authenticationApp/cso_auth/jquery.min.js' %}"></script>
	<script src="{% static 'js/authenticationApp/cso_auth/popper.js' %}"></script>
	<script src="{% static 'js/authenticationApp/cso_auth/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/authenticationApp/cso_auth/main.js' %}"></script>
	<script src="{% static 'js/authenticationApp/form_validation_error.js' %}"></script>

	<script src="{% static 'js/authenticationApp/user_auth/ta-da/ta-da.js' %}"></script>
	<script src="{% static 'js/authenticationApp/user_auth/ta-da/components/general-functions.js' %}"></script>
	<script src="{% static 'js/authenticationApp/user_auth/ta-da/components/daily-allowance.js' %}"></script>
	<script src="{% static 'js/authenticationApp/user_auth/ta-da/components/travel-allowance.js' %}"></script>
	<script src="{% static 'js/authenticationApp/user_auth/ta-da/components/travel-daily-allowance.js' %}"></script>
	
	<!-- Chatbot JS -->
	

	<div href="#" class="profile_div" id="profile_div">
		<img class="imgProfile" src="{% static 'landing_page_chatbot_statics/static/img/botAvatar.png' %}" />
	</div>

    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/lib/keycloak.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/auth.js' %}"></script>
	<script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/lib/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/lib/uuid.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/lib/showdown.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/generalChat.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/constants.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/cardsCarousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/botTyping.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/collapsible.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/dropDown.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/location.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/pdfAttachment.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/quickReplies.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/suggestionButtons.js' %}"></script>
	<script type="text/javascript" src="{% static 'landing_page_chatbot_statics/static/js/components/speechToText.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/authenticationApp/user_auth/user-login/login.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/authenticationApp/user_auth/user-registration/registration.js' %}"></script>

</body>

</html>